USE [master]
GO
/****** Object:  Database [Marconnes_N]    Script Date: 17-12-2025 11:45:30 ******/
CREATE DATABASE [Marconnes_N]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Marconnes_N', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Marconnes_N.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Marconnes_N_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Marconnes_N_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Marconnes_N].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Marconnes_N]
GO
/****** Object:  Table [dbo].[CampingPlaces]    Script Date: 17-12-2025 11:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampingPlaces](
	[PlaceID] [int] NULL,
	[PlaceNumber] [varchar](50) NULL,
	[MaxGuests] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HotelRooms]    Script Date: 17-12-2025 11:45:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelRooms](
	[RoomID] [int] NULL,
	[RoomNumber] [varchar](50) NULL,
	[MaxGuests] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
